@import "../../main.styles.scss";

.card-anchor {
  text-decoration: none;
}

.card-main-container {
  position: relative;
}

.card-container {
  //   padding-left: 1em;

  margin: 0.6em 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  border-bottom: 1px solid $secondary-font-color;

  img {
    cursor: pointer;
    width: 95%;
    margin: 0.5rem 0;
  }
  .card-detail {
    .card-title {
      cursor: pointer;
      font-size: $normal-font;
      margin: 0.3em 0;
      color: $font-color;
    }
    .card-description {
      font-size: $subtitle-font;
      color: $secondary-font-color;
      margin-bottom: 0.3em;
    }
  }
}
