@import "../../main.styles.scss";

.search {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin: 1em auto;

  border-bottom: 1px solid $secondary-font-color;

  .search-input {
    width: 60vw;
    display: flex;
    align-self: flex-end;
    margin: 1em auto;
    font-size: $title-font;
    padding: 0.5em 0.4em;
    border: 1px solid $secondary-font-color;
    outline: none;
    &:focus {
      border: 1px solid $primary-color;
    }
    &::placeholder {
      opacity: 0.4;
      font-size: $title-font;
    }
  }
}
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
