// @import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lobster&display=swap");

// === Variables Starts ==========

// === colors Variable ============
$color: 205;

$primary-color: hsl($color, 84%, 45%);
$dark-primary-color: hsl($color, 79%, 25%);
$light-primary-color: hsl($color, 68%, 77%);
$accent-color: #abe5;
$dark-accent-color: #abe5;
$light-accent-color: #abe5;
$font-color: hsl($color, 0%, 40%);
$secondary-font-color: hsl($color, 0%, 71%);
$dark-font-color: hsl($color, 0%, 12%);
$light-font-color: hsl($color, 0%, 100%);

// === FONT Variable =========
$logo-font: 2.5rem;
$title-font: 1.25rem;
$normal-font: 1rem;
$subtitle-font: 0.75rem;
$small-font: 0.6rem;

// === Variables Ends ==========

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial;
  font-size: 11px;
  scroll-behavior: smooth;
}

// === APP COMPONENTS CSS STARTS ============
// .app {
//   padding: 1em 5em;
// }
.logo {
  display: inline-block;
  margin: 0.3em;
  padding: 0.25em 1em;
  font-size: $logo-font;
  color: rgb(255, 0, 0);
  font-family: "Abril Fatface", cursive;
  text-shadow: 2px 2px 2px $secondary-font-color;
  letter-spacing: 0.1em;
}

// === MEDIA Query =======

@media (min-width: 650px) {
  * {
    font-size: 16px;
  }
  .app {
    margin: 0 auto;
  }
  .video-container {
    position: relative;
  }
  .search {
    display: flex;
    justify-content: center;
  }
  .video-player {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .display-container {
      width: 65%;
    }
    .video-container {
      width: 25%;
    }
  }
}

// @media (min-width: 900px) {
//   * {
//     font-size: 13px;
//   }
// }
